.titulo{
    text-align: center;
    color: #beac06;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 70px 0 30px;
}
.titulo h2{
    font-size: 32px;
    color: #383700;
    margin-top: 5px;
    text-transform: none;
}
